<tr>
    <td>
        <input type="text" id="food_name_form_wolfram" placeholder="Food name">
    </td>
    <td>
        <input type="text" id="food_count_form_wolfram" placeholder="Amount of food [x 100g]">
    </td>
    <td>
        <input list="food_unit_list_wolfram" id="food_unit_wolfram" value="/ 100g" readonly>
    </td>
    <td>
        <input type="submit" onclick="addFoodWithWolfram('{{ user_lang }}')"
                                value="Get from Wolfram">
    </td>
    <td>
        <input type="submit" onclick='(function(){
            document.getElementById("buttonsBelowTable").style.visibility = "visible";
            document.getElementById("addNewWolfram").style.visibility = "hidden";
        })();'
                            value="Go Back">
    </td>
</tr>