<div>
    <div class="input-field inline">
        <input class="waves-effect waves-light btn" type="submit" onclick='(function(){
            document.getElementById("buttonsBelowTable").style.visibility = "hidden";
            document.getElementById("addNewManual").style.visibility = "visible";
                } )();'
                value="Add manually">
    </div>
    <div class="input-field inline">
        <input class="waves-effect waves-light btn" type="submit" onclick='(function(){
            document.getElementById("buttonsBelowTable").style.visibility = "hidden";
            document.getElementById("addNewWolfram").style.visibility = "visible";
                } )();'
                value="Add with Wolfram">
    </div>
</div>