<p>Dodaj nowe jedzenie z Wolframem:</p>
<div class="row table_size">
    <div class="input-field col inline" style="width: 150px">
        <input type="text" id="food_name_form_wolfram" placeholder="Nazwa jedzenia">
        <label for="food_name_form_wolfram">Nazwa</label>
    </div>
    <div class="input-field col inline add_number">
        <input type="text" id="food_count_form_wolfram" placeholder="[x 100g]">
        <label for="food_count_form_wolfram">Ilość</label>
    </div>
    <div class="input-field col inline add_number">
        <input list="food_unit_list_wolfram" id="food_unit_wolfram" value="x 100g" readonly>
    </div>
    <div class="input-field col inline">
        <input class="waves-effect waves-light btn" type="submit" onclick="addFoodWithWolfram('{{ user_lang }}')"
                                value="Pobierz z Wolframem">
    </div>
    <div class="input-field col inline">
        <input class="waves-effect waves-light btn" type="submit" onclick='(function(){
            document.getElementById("buttonsBelowTable").style.visibility = "visible";
            document.getElementById("addNewWolfram").style.visibility = "hidden";
        })();'
                            value="Cofnij">
    </div>
</div>