<tr>
    <td>
        <input type="submit" onclick='(function(){
                            document.getElementById("buttonsBelowTable").style.visibility = "hidden";
                            document.getElementById("addNewManual").style.visibility = "visible";
                                } )();'
                                value="Dodaj ręcznie">
    </td>
    <td>
        <input type="submit" onclick='(function(){
                            document.getElementById("buttonsBelowTable").style.visibility = "hidden";
                            document.getElementById("addNewWolfram").style.visibility = "visible";
                                } )();'
                                value="Dodaj z Wolframem">
    </td>
</tr>
