<!DOCTYPE html>
{% if user_lang == 'pl' %}
    <html lang="pl">
{% else %}
    <html lang="en">
{% endif %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block extension-styles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/foodTable.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
    {% endblock %}

    {% block scripts %}
        {% load static %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script type="text/javascript" src="{% static 'js/dailyNavigation.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/searching.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/addFoodManual.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/addFoodWolfram.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/foodTableSum.js' %}" defer></script>
        <script>
            $(document).ready(function(){
                downloadFoodList('{{ user_lang }}');
                changeDate('{{ act_date }}', '{{ user_lang }}');
            });
        </script>
    {% endblock %}

</head>
<body>

<!-- HTML variable -->
<p id="actualDate" hidden>{{ act_date }}</p>

<!-- header-->
<header>
    {% if user_lang == 'pl' %}
        {% include 'pl/pl_header.html' %}
    {% else %}
        {% include 'en/en_header.html' %}
    {% endif %}
</header>

<!-- Daily navigation -->
{% if user_lang == 'pl' %}
    {% include 'pl/pl_dailyNav.html' %}
{% else %}
    {% include 'en/en_dailyNav.html' %}
{% endif %}

<!-- loader -->
<div id="loadingDiv" style="visibility: hidden">
    <div class="loader"></div>
</div>

<div class="main">

<!-- food searcher -->
    <div>
        <div class="foodSearcher" style="width:300px;">


            <table> <tr>
                <td>
                    <input id="foodNameInput" type="text" name="newFood"
                        {% if user_lang == 'pl' %}
                            placeholder="Wyszukaj jedzenie!"
                        {% else %}
                            placeholder="Let's find your food!"
                        {% endif %}>
                </td>
                <td>
                    <input id="countOfAddFoodToDay" type="text" style="visibility: hidden">
                </td>
                <td>
                    <p id="unitOfAddFoodToDay" style="visibility: hidden"></p>
                </td>
                <td>
                    <input id="addFoodToDay" type="submit"
                           onclick="addFoodToDayFunction()"
                           style="visibility: hidden"
                           {% if user_lang == 'pl' %}
                                value="Dodaj do swojego dnia!"
                            {% else %}
                                value="Add to Your day!"
                            {% endif %}>
                </td>
            </tr> </table>
        </div>
    </div>

<!-- Table with date food list -->
    <div id="foodTable">
        <table>
            <thead>
            {% if user_lang == 'pl' %}
                {% include 'pl/pl_tableHeader.html' %}
            {% else %}
                {% include 'en/en_tableHeader.html' %}
            {% endif %}
            </thead>

            <tbody id="foods">
            </tbody>

            <tbody id="sums">
            </tbody>
        </table>

        <table>
            <tbody id="addNewManual" style="visibility: hidden">
                {% if user_lang == 'pl' %}
                    {% include 'pl/pl_addFoodManualy.html' %}
                {% else %}
                    {% include 'en/en_addFoodManualy.html' %}
                {% endif %}
            </tbody>

            <tbody id="addNewWolfram" style="visibility: hidden">
                {% if user_lang == 'pl' %}
                    {% include 'pl/pl_addFoodWithWolfram.html' %}
                {% else %}
                    {% include 'en/en_addFoodWithWolfram.html' %}
                {% endif %}
            </tbody>

            <tbody id="buttonsBelowTable" style="visibility: visible">
                    {% if user_lang == 'pl' %}
                        {% include 'pl/pl_buttonsBelowFoodTable.html' %}
                    {% else %}
                        {% include 'en/en_buttonsBelowFoodTable.html' %}
                    {% endif %}
            </tbody>
        </table>
    </div>
</div>

<!-- footer-->
{% if user_lang == 'pl' %}
    {% include 'pl/pl_footer.html' %}
{% else %}
    {% include 'en/en_footer.html' %}
{% endif %}

</body>
</html>