<!DOCTYPE html>
{% if user_lang == 'pl' %}
    <html lang="pl">
{% else %}
    <html lang="en">
{% endif %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block extension-styles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/userSettings.css' %}">
    {% endblock %}

    {% block scripts %}
        {% load static %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script type="text/javascript" src="{% static 'js/userSettingsForm.js' %}" defer></script>
    {% endblock %}

</head>
<body>

<!-- header-->
<header>
    {% if user_lang == 'pl' %}
        {% include 'pl/pl_header.html' %}
    {% else %}
        {% include 'en/en_header.html' %}
    {% endif %}
</header>

<div class="main">
    <table id="user_set_form" class="user_settings_form center">
        {% if user_lang == 'pl' %}
            {% include 'pl/pl_userSettingsForm.html' %}
        {% else %}
            {% include 'en/en_userSettingsForm.html' %}
        {% endif %}
    </table>
</div>

<!-- footer-->
{% if user_lang == 'pl' %}
    {% include 'pl/pl_footer.html' %}
{% else %}
    {% include 'en/en_footer.html' %}
{% endif %}

</body>
</html>