<!DOCTYPE html>
{% if user_lang == 'pl' %}
    <html lang="pl">
{% else %}
    <html lang="en">
{% endif %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block extension-styles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/userSettings.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% endblock %}

    {% block scripts %}
        {% load static %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script type="text/javascript" src="{% static 'js/userSettingsForm.js' %}" defer></script>
        {% if user_lang == 'pl' %}
            <script type="text/javascript" src="{% static 'js/pl/pl_alerts.js' %}" defer></script>
        {% else %}
            <script type="text/javascript" src="{% static 'js/en/en_alerts.js' %}" defer></script>
        {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                 $('select').formSelect();
            });
        </script>
    {% endblock %}

</head>
<body>

<!-- header-->
<header>
    {% include ''|add:user_lang|add:'/'|add:user_lang|add:'_header.html' %}
</header>

<div class="main">
    {% include ''|add:user_lang|add:'/'|add:user_lang|add:'_userSettingsForm.html' %}
</div>

<!-- footer-->
{% include ''|add:user_lang|add:'/'|add:user_lang|add:'_footer.html' %}

</body>
</html>