<!DOCTYPE html>
{% if user_lang == 'pl' %}
    <html lang="pl">
{% else %}
    <html lang="en">
{% endif %}

<head>
    <meta charset="UTF-8">
    <title>Weekly</title>

    {% block extension-styles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/weekly.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% endblock %}

    {% block scripts %}
        {% load static %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script type="text/javascript" src="{% static 'js/weeklySummary.js' %}" defer></script>
        <script>
            $(document).ready(function(){
                parseWeeklyData('{{ act_week_first }}', '{{ user_lang }}')
            });
        </script>
    {% endblock %}

</head>
<body>

<!-- header-->
<header>
    {% include ''|add:user_lang|add:'/'|add:user_lang|add:'_header.html' %}
</header>

<!-- Weekly navigation -->
<nav style="display: flex;
  justify-content: center; min-height: 80px; background-color: transparent;" class="nav-wrapper">
    <div style="float: left; margin-right: 50px">
        <p class="daily_nav_link waves-effect waves-light btn-large" id="prev_week" ></p>
    </div>

    <div style="float: left">
        <p class="daily_nav_link waves-effect waves-light btn-large" id="act_week">
            {% if user_lang == 'pl' %}
                ten tydzień
            {% else %}
                this week
            {% endif %}
        </p>
    </div>

    <div style="float: left; margin-left: 50px">
        <p class="daily_nav_link waves-effect waves-light btn-large" id="next_week"></p>
    </div>
</nav>

<!-- Content -->
<div class="main">
    <table class="weekly_table striped">
        <thead>
        <tr>
            {% include ''|add:user_lang|add:'/'|add:user_lang|add:'_weeklyNutritionTableHeader.html' %}
        </tr>
        </thead>
        <tbody>
            <tr id="weekly_calories"></tr>
            <tr id="weekly_fats"></tr>
            <tr id="weekly_carbohydrates"></tr>
            <tr id="weekly_proteins"></tr>
        </tbody>
    </table>

    <br/>

    <table class="weekly_foods striped">
        <caption>
            {% if user_lang == 'pl' %}
                Twoje popularne produkty:
            {% else %}
                Your popular products:
            {% endif %}
        </caption>
        <thead>
            {% include ''|add:user_lang|add:'/'|add:user_lang|add:'_weeklyPopularFoodTableHeader.html' %}
        </thead>

        <tbody id="popular_foods">

        </tbody>
    </table>

</div>


<!-- footer-->
{% include ''|add:user_lang|add:'/'|add:user_lang|add:'_footer.html' %}

</body>
</html>